  <nav class="indigo darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Carder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/play" routerLinkActive="selected">Play
            <i class="material-icons left">local_play</i>
          </a></li>
        <li><a routerLink="/stats" routerLinkActive="selected">Statistics
            <i class="material-icons left">graphic_eq</i>
          </a></li>
        <li><a routerLink="/words" routerLinkActive="selected">Words
            <i class="material-icons left">text_format</i></a></li>
      </ul>
    </div>
  </nav>
