<app-header></app-header>
  <div class="container">
    <div class="col s12 m6">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons left">local_play</i> Play</span>
          <p>You can start playing!</p>
        </div>
        <div class="card-action">
         <!-- <a routerLink="/play" class="white-text">Random</a>-->
          <a routerLink="/play/noun" class="white-text">Nouns</a>
          <a routerLink="/play/pronoun" class="white-text">Pronouns</a>
          <a routerLink="/play/verb" class="white-text">Verbs</a>
          <a routerLink="/play/adjective" class="white-text">Adjective</a>
          <a routerLink="/play/adverb" class="white-text">Adverbs</a>
          <a routerLink="/play/other" class="white-text">Other</a>
          <a routerLink="/play/mistake" class="white-text">Mistakes</a>
          <a routerLink="/play/article" class="white-text">Article</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col s12 m6">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons left">graphic_eq</i>Statistics</span>
          <p>Below you may find all your statistics</p>
        </div>
        <div class="card-action">
          <a routerLink="/stats" class="white-text">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col s12 m6">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons left">text_format</i> Words</span>
          <p>Below you can view all the words or add new</p>
        </div>
        <div class="card-action">
          <a routerLink="/words" class="white-text">View</a>
          <a routerLink="/add-word" class="white-text">Add</a>
        </div>
      </div>
    </div>
  </div>
